[core]
	editor = vim
	ignorecase = false

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = simple
	followTags = true


[rebase]
	autosquash = true

[user]
	email = garethflowers@users.noreply.github.com
	name = Gareth Flowers
